.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("load-screen.html") 50% 50% no-repeat rgb(178, 233, 233);
    opacity: 5;
}